@{
    ViewBag.Title = "E-commerce Roque";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Fundada na data de 28/06/2017, nossa empresa trabalha no setor de vendas online possuindo sistema de entregas para toda
    Curitiba.</p>
