@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    E-commerce Roque<br />
    Rua 1, PR 83615-322<br />
    <abbr title="">Telefone para contato: </abbr>
    (41) 5243-2234
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>