@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo!</h1>
    <p class="lead">E-commerce Parati faça seu login para saber mais sobre os nossos produtos.</p>
    <p><a href="http://localhost:54886/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p></p>
</div>



