@{
    ViewBag.Title = "Pagina Inicial";
    
}

<div class="jumbotron">
    <h1>Bem vindo!</h1>
    <p class="lead">E-commerce Parati Fique por dentro de todos nossos produtos e ofertas.</p>
    <!DOCTYPE html>
    @*Colocar imagem de fundo*@
    <Html>
    <body class="body-background">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @* <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    @Html.ActionLink("Página Inicial", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Produtos <span class="caret"></span></a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Estoque", "Estoque", "Produtos")
                                </li>
                            </ul>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorias <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Categorias", "CategoriaCliente", "Categorias")
                                </li>
                            </ul>
                    </ul>


                </div>
            </div>
        </div>
        <center>
            <img src="~/Imagem/mercearia2.PNG" />

        </center>


    </body>
</Html>
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
<div>
    <a href="http://localhost:54886/Account/Login"><input type="button" class="btn btn-primary" value="Área administrador"></a>
</div>

</div>



