@{
    ViewBag.Title = "Esqueci a confirmação de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Verifique seu email para redefinir sua senha.
    </p>
</div>
	
